<div class="depgraph">
  <style type="text/css">
    ul#{{name}} {
      background: url(data:image/jpg;base64,{{normal}}) no-repeat 0 0;
      position: relative;
      width:  {{width}}px;
      height: {{height}}px;
    }
    ul#{{name}} li {
      position: absolute;
      list-style: none;
    }
    ul#{{name}} li a{
      display: block;
      height: 100%;
      text-indent: -9000px;
    }
    {{#nodes}}
      #{{id}} { width: {{width}}px; height: {{height}}px; top: {{top}}px; left: {{left}}px; }
    {{/nodes}}
    ul#{{name}} li a:hover {
      background: url(data:image/jpg;base64,{{hover}}) no-repeat 0 0 ;
    }
    {{#nodes}}
      ul#{{name}} li#{{id}} a:hover { background-position: {{xoffset}}px {{yoffset}}px; }
    {{/nodes}}
  </style>

  <ul id="{{name}}">
    {{#nodes}}
      <li id="{{id}}"> <a href="{{href}}">{{title}}</a></li>
    {{/nodes}}
  </ul>
</div>
