[submodule "website"]
	path = website
	url = git@github.com:jgm/gitit.git
[submodule "filestore"]
	path = filestore
	url = https://github.com/jefdaj/filestore.git
[submodule "pandoc"]
	path = pandoc
	url = https://github.com/jefdaj/pandoc.git
